<p>id: {{id}}</p>
<p>live_mode: {{live_mode}}</p>
<p>type: {{type}}</p>
<p>date_created: {{date_created}}</p>
<p>application_id: {{application_id}}</p>
<p>user_id: {{user_id}}</p>
<p>version: {{version}}</p>
<p>api_version: {{api_version}}</p>
<p>action: {{action}}</p>
<p>data: {{data}}</p>